<%= form_with(model: chapter, local: true) do |form| %>
  <% if chapter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>

      <ul>
      <% chapter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :chapter_title %>
  </div>

  <div class="field">
    <%= form.label :intro %>
    <%= form.text_field :intro, id: :chapter_intro %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
